@import '../../styles/variables.scss';
@import '../../styles/placeholder';

.breadcrumb{
    @extend %flexConfig;
    @extend %breadcrumbConfig;
    justify-content: flex-start;

    ul {
        li {
            padding-right: 10px;
        }
    }
}

.firstContainer{
    max-width: $maxWidth;
    display: flex;

    .product{
        @extend %product;
    }    
}

.marioImg {
    display: flex;

    .smallImg{
        margin-right: 15px;

        .bigImg{
            margin-right: 15px;
        }
    }
}

.marioImg {
    margin-right: 15px;

    img {
        border: 1px solid $lightGrey;
        flex: 1;
    }
}

.detail{
    flex: 1;

    span {
        @extend %detailSpan;
    }

    .titleInfo {
        @extend %titleInfo;
    }

    .priceInfo {
        display: flex;

        span {
            font-size: $font20;
            line-height: 1.7em;
        }
    }
}

.priceInfo {
    @extend %priceInfo;

    span:last-of-type {
        color: $lightBlue !important;

        h2 {
            color: $lightBlue;
            line-height: 2em;
        }
    }

    button {
        @extend %btnGreen;
    }
}

.shippingInfo{
    @extend %shippingInfo;

    label {
        @extend %label;
    }

    .inputFields{
        display: flex;
        flex-direction: row;
    
        input {
            @extend %inputBody;
    
        }

        .firstInput{
            @extend %inputZip;
            opacity: none; 
        }
        
        .secondInput{
            @extend %inputZip;
            width: 80px;
        }

        button {
            @extend %btnBlue;  
        }
    }
}

.secondContainer{
    display: flex;
    
    .description{
        display: flex;
        flex-direction: column;

        .title{
            @extend %descriptionTitle;
        }

        .text{
            @extend %descriptionText;
        }
    }
}

@media only screen and (max-width: $sm){
    .breadcrumb {
        display: none;
    }

    .firstContainer {
        max-width: 320px;
        display: flex;
        margin-left: -260px;

        .product {
            display: flex;
            flex-direction: column;
        }

        .marioImg {

            .bigImg {
                img {
                    width: 300px;
                    height: 300px;   
                }
            }
            .smallImg {
                display: none;
            }
        }
    }

    .detail {
        width: 300px;
        display: flex;
        flex-direction: column;

        .titleInfo {
            font-size: $font24;
        }

        .priceInfo {
            display: flex;
            align-items: center;
        }

        .shippingInfo {
            width: 275px;
            margin: 0;
            
            .inputFields {
                display: flex;
                flex-direction: column;

                .firstInput {
                    width: 260px;
                    margin-bottom: 15px;
                }

                .secondInput {
                    width: 260px;
                    margin-bottom: 15px;
                }

                button {
                    width: 280px;
                    margin-bottom: 15px;
                }
            }
        }
    }

    .secondContainer{
        display: flex;
        flex-direction: column;

        .description{
    
            .text{
                display: flex;
                flex-direction: row;
                margin: 0 19px;
            }
        }
    }
}


@media only screen and (max-width: $mdl) and (min-width: $md){
    .breadcrumb {
        display: none;
    }

    .firstContainer {
        max-width: 375px;
        display: flex;
        margin-left: -235px;

        .product {
            display: flex;
            flex-direction: column;
        }

        .marioImg {

            .bigImg {
                img {
                    width: 300px;
                    height: 300px;   
                }
            }
            .smallImg {
                display: none;
            }
        }
    }

    .detail {
        width: 300px;
        display: flex;
        flex-direction: column;

        .titleInfo {
            font-size: $font24;
        }

        .priceInfo {
            display: flex;
            align-items: center;
        }

        .shippingInfo {
            width: 275px;
            margin: 0;
            
            .inputFields {
                display: flex;
                flex-direction: column;

                .firstInput {
                    width: 260px;
                    margin-bottom: 15px;
                }

                .secondInput {
                    width: 260px;
                    margin-bottom: 15px;
                }

                button {
                    width: 280px;
                    margin-bottom: 15px;
                }
            }
        }
    }

    .secondContainer{
        display: flex;
        flex-direction: column;

        .description{
    
            .text{
                display: flex;
                flex-direction: row;
                margin: 0 19px;
            }
        }
    }
}



@media screen and (max-width: $lg) and (min-width: $mdl) {
    .breadcrumb {
        display: none;
    }

    .firstContainer {
        max-width: 425px;
        display: flex;
        margin-left: -215px;

        .product {
            display: flex;
            flex-direction: column;
        }

        .marioImg {

            .bigImg {
                img {
                    width: 300px;
                    height: 300px;   
                }
            }
            .smallImg {
                display: none;
            }
        }
    }

    .detail {
        width: 300px;
        display: flex;
        flex-direction: column;

        .titleInfo {
            font-size: $font24;
        }

        .priceInfo {
            display: flex;
            align-items: center;
        }

        .shippingInfo {
            width: 275px;
            margin: 0;
            
            .inputFields {
                display: flex;
                flex-direction: column;

                .firstInput {
                    width: 260px;
                    margin-bottom: 15px;
                }

                .secondInput {
                    width: 260px;
                    margin-bottom: 15px;
                }

                button {
                    width: 280px;
                    margin-bottom: 15px;
                }
            }
        }
    }

    .secondContainer{
        display: flex;
        flex-direction: column;

        .description{
    
            .text{
                display: flex;
                flex-direction: row;
                margin: 0 19px;
            }
        }
    }
}
