@import './variables.scss';

%flexConfig {
    max-width: $maxWidth;
    display: flex;
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: center;
}

/*Header*/
%navConfig {
    font-family: $fontDefault;
    font-size: $font20;
    color: $darkGrey;
    display: block;
    padding: 10px;
}

%inputHeader {
    padding: 10px 160px 10px 50px;
    background-color: $white;
    border: 1px solid $lightGrey;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px 1px $shadowGrey;
    -moz-box-shadow: 0 1px 2px 1px $shadowGrey;
    box-shadow: 0 1px 2px 1px $shadowGrey;
    opacity: 0.5;
}

%search {
    z-index: -1;
    max-width: 16px;
    position: absolute;
    top: 11px;
    left: 20px;
}

%cart {
    position: absolute;    
    z-index: -1;
    width: 30px;
    right: 5px;    
    top: -5px;
}

%counterConfig {
    position: relative;
    top: -13px;
    left: 4px;
    font-family: $fontDefault;
    font-size: $font16;
    font-weight: $fontExtraBold;
    background-color: $lightBlue;
    color: $white;
    border-radius: 80%;
    padding: 0 5px 2px 5px;
}

/*Body*/
%breadcrumbConfig {
    color: $darkGrey;
    font-family: $fontDefault;
    font-size: $font16;
    font-weight: $fontExtraBold;
}

%product {
    margin: 35px 270px 0 270px;
    display: flex;
    justify-content: center;
    flex-shrink: initial;
}

%detailSpan {
    color: $darkGrey;
    font-family: $fontDefault;
}

%titleInfo {
    font-family: $fontDefault;
    font-size: $font27;
    color: $darkGrey;
    line-height: 2em;
    margin-bottom: 15px;
}

%priceInfo {
    background-color: $lightGrey;
    display: flex;
    flex-direction: column;
    padding: 15px 0 15px 15px;
    margin-bottom: 30px;
    line-height: 1.5em;
}

%btnGreen {
    font-weight: $fontExtraBold;
    font-family: $fontDefault;
    background-color: $green;
    border-color:$green;
    color: $white;
    display: flex;
    box-shadow: none;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 1em;
}

%shippingInfo {
    background-color: $lightBlue;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    margin-right: 50px;
}

%label {
    color: $white;
    font-size: $font20;
    font-weight: $fontExtraBold;
    font-family: $fontDefault;
    margin-bottom: 20px;
}

%boxShadow {
    -webkit-box-shadow: $shadowDark;
    -moz-box-shadow: $shadowDark;
    box-shadow: $shadowDark;
}

%inputBody {
    @extend %boxShadow;
    border-color: $white;
    border: 1px solid $lightGrey;
    border-radius: 5px;
}

%btnBlue {
    background-color: $darkBlue;
    border-color: $darkBlue;
    color: $white;
    font-size: $font16;
    font-weight: $fontExtraBold;
    font-family: $fontDefault;
    box-shadow: none;
    padding: 5px 20px;
    border-radius: 5px;
}

%inputZip {
    padding: 10px 5px 10px 10px;
    margin-right: 10px;
}

%descriptionTitle {
    color: $darkBlue;
    font-family: $fontDefault;
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    font-size:  $font30;
    line-height: 6.0625em;
}

%descriptionText {
    font-size: $font18;
    font-family: $fontDefault;
    color: $darkGrey;
    display: flex;
    justify-content: center;
    margin: 0 280px;
    line-height: 1.9375em;
}

/*Card*/
%containerCard {
    background-color: $lightGreyBg;
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 500px;
    width: 270px;
    margin-right: 10px;
    padding: 10px;
}

%titleCard {
    font-family: $fontDefault;
    color: $darkGrey;
    font-size: $font16p8;
    line-height: 24px;
    margin-bottom: 30px;
}

%originalPrice {
    font-family: $fontDefault;
    color: $darkGrey;
    font-size: $font14p4;
    line-height: 30px;
}

%salePrice {
    font-family: $fontDefault;
    font-size: $font24;
    font-weight: $fontExtraBold;
    color: $lightBlue;
}

/*Recommendation*/
%cardRecommendation {
    font-size: $font30;
    font-family: $fontDefault;
    color: $darkBlue;
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    line-height: 6.0625em
}

%cardGroups {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
}

/*Footer*/
%logoFooter {
    background-color: $darkBlue;
    position: relative;
    padding: 20px 0 45px 0;
    width: 27%;
}

%imgFooter {
    position: absolute;
    max-width: 50px;
    right: 30px;
}

%textFooter {
    padding: 25px 0 20px 20px;
    width: 73%;
    background-color: $lightBlue;
}

%footerP {
    font-family: $fontDefault;
    font-size: $font14;
    color: $white;
    display: flex;
    align-content: center;
}