@import './variables';

body {
  margin: 0;
  padding:  0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", $fontDefault,
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, h1, h2, p, ul, li{
  margin: 0;
  padding: 0;
}
