@import url('https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap');

$maxWidth: 960px;

/*Colors*/

$white: #FFFFFF;
$green: #71CE4B;
$lightBlue: #4EC2DD;
$darkBlue: #0F4156;
$darkGrey: #C8C8C8;
$lightGrey: #F5F5F5;
$lightGreyBg: #F8F8F8;
$shadowGrey: #707070;
$shadowDark: 3px 3px 3px rgba(50, 50, 50, 0.3);

/*Font*/
$fontDefault: 'Raleway', sans-serif;
$font10: 0.625em;
$font12: 0.75em;
$font14: 0.875em;
$font14p4: 0.9em;
$font16: 1em;
$font16p8: 1.05em;
$font18: 1.125em;
$font20: 1.25em;
$font24: 1.5em;
$font27: 1.7em;
$font30: 1.875em;
$fontExtraBold: 800;


/*Responsivity*/

$sm: 320px;
$md: 375px;
$mdl: 425px;
$lg: 600px;
$xl: 1200px;
