@import '../../styles/variables.scss';
@import '../../styles//placeholder';

.containerCard {
    @extend %containerCard;

    .actionFigure {
        img{
            max-width: 100%;
            margin-bottom: 20px;
        }
    }

    .title {
        @extend %titleCard;
    }

    .originalPrice{
        @extend %originalPrice;
    }

    .salePrice{
        @extend %salePrice;
    }
}

@media screen and (max-width: $sm) {
    .containerCard {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: $md) {
    .containerCard {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: $lg) {
    .containerCard {
        margin-right: 0;
        margin-bottom: 20px;
    }
}