@import '../../styles/variables.scss';
@import '../../styles/placeholder';

.container{
    border-bottom: 1px solid $lightGrey;
}

.menu{
    @extend %flexConfig;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;

    #control-nav {
        display: none !important;
    }
}

.logo{
    max-width: 100%;
}

ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;   
}

.link{
    @extend %navConfig;
}

.sale{
    color: $lightBlue !important;
    font-weight: $fontExtraBold;
}

.inputBox{
    position: relative;
    input {
        @extend %inputHeader;
    }
}

.search{
    @extend %search;
}

.cartBox{
    position: relative;
}

.cart{
    @extend %cart;
}

.counterItemCart {
    @extend %counterConfig;
}

@media screen and (max-width: $sm) {
    .inputBox {
        input {
            padding: 10px 100px 10px 50px !important;
        }
    }

    .cartBox {
        bottom: 120px;
        left: 135px !important;
    }
}

@media screen and (max-width: $md) {
    .inputBox {
        input {
            padding: 10px 150px 10px 50px;
        }
    }

    .cartBox {
        left: 160px;
    }
}

@media screen and (max-width: $mdl) {
    .inputBox {
        input {
            padding: 10px 150px 10px 50px;
        }
    }

    .cartBox {
        left: 165px;
        bottom: 120px;
    }
}

@media screen and (max-width: $lg) {

    .inputBox {
        input {
            padding: 10px 200px 10px 50px;
        }
    }

    .cartBox {
        left: 185px;
        bottom: 120px;
    }

    #control-nav {
        display: none !important;
    }

    header .control-nav {
        position: absolute;
        left: 30px;
        top: 45px;
        display: block;
        width: 30px;
        padding: 5px 0;
        border: solid #333;
        border-width: 3px 0;
        z-index: 2;
        cursor: pointer;
    }

    header .control-nav:before {
        content: "";
        display: block;
        height: 3px;
        background: #333;
      }
    
      header .control-nav-close {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        z-index: 1;
        background: rgba(0,0,0,0.4);
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
      }
    
      header nav {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 160px;
        border-left: 1px solid #ccc;
        background: #fff;
        overflow-x: auto;
        z-index: 2;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
      }

      #control-nav:checked ~ .control-nav-close {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
      }
      
      #control-nav:checked ~ nav {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
      }
}