@import '../../styles/variables.scss';
@import '../../styles/placeholder';

.containerFooter {
    display: flex;

    .logoFooter {
        @extend %logoFooter;

        img {
            @extend %imgFooter;
        }
    }

    .textFooter {
        @extend %textFooter;
        
        p {
            @extend %footerP;
        }
    }
}

@media screen and (min-width: $sm) {
    .containerFooter {
        .logoFooter {
            img {
                right: 15px;
            }
        }
        
        .textFooter {
            p {
                font-size: $font10;
            }
        }
    }
}

@media screen and (min-width: $md) {
    .containerFooter {
        .textFooter {
            p {
                font-size: $font12;
            }
        }
    }
}

@media screen and (min-width: $lg) {
    .containerFooter {
        .textFooter {
            p {
                font-size: $font14p4;
            }
        }
    }
}