@import '../../styles/variables.scss';
@import '../../styles/placeholder';

.card  {
    .titleCard {
        @extend %cardRecommendation;
    }
    
    .cardGroups{
        @extend %cardGroups;
    }
}

@media screen and (max-width: $sm) {
    .card {
        .titleCard {
            font-size: $font27;
        }
        .cardGroups {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: $md) {
    .card {
        .titleCard {
            font-size: $font27;
        }
        .cardGroups {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: $lg) {
    .card {
        .titleCard {
            font-size: $font27;
        }
        .cardGroups {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
        }
    }
}